<!DOCTYPE html>
<html>
<%- include(`${ROOT}naturetealab/_include/_img`) %>

<head>
  <% var meta={ title: 'スペシャルインタビュー｜NATURE TEA LAB（ナチュレティーラボ）公式サイト' , description: 'RIKACO（リカコ）とTeaLife（ティーライフ）がコラボしたオーガニックティー「NATURE TEA LAB（ナチュレティーラボ）」の「スペシャルインタビュー」です。' , keywords:'keywords' , og : { url: `https://www.tealife.co.jp/naturetealab/contents/interview01.html`, iamge: 'https://www.tealife.co.jp/naturetealab/img/module/concept.jpg' } } 
		%>
  <% var path="../" -%> <%-
    include(`${ROOT}naturetealab/_common/_head`, { meta: meta, path:path }) %>

  <!-- page css files start -->
  <link rel="stylesheet" type="text/css" href="<%- path %>assets/css/style.css" />
  <!-- page css files end -->
  <style>
    body {
      margin-bottom: 0;
    }
  </style>
</head>

<body class="sub">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL4N2B4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="header">

	</div>

  <!-- contents start -->
  <div id="mainContents" class="interview">
    <section class="p-itw-kv">
      <div class="p-itw-kv__img">
        <%- imgTag("interview/itw-mv.jpg", "ティーライフ コラボスタート インタビュー", false,path)%>
      </div>
      <div class="p-itw-kv__img p-itw-kv__img-sp">
        <%- imgTag("interview/itw-mv-sp.jpg", "ティーライフ コラボスタート インタビュー", false, path)%>
      </div>
      <div class="p-itw-kv__hgroup">
        <div class="p-itw-kv__hgroup__inner">
          <div>
            <p class="p-itw-kv__sort">SPECIAL CONTENTS 01</p>
            <h1 class="p-itw-kv__ttl">コラボスタート インタビュー</h1>
            <time class="p-itw-kv__time">2022.11.21</time>
            <p class="p-itw-kv__txt">
              オーガニックアドバイザーとしても活躍されるRIKACOさんに<br class="is-pc" />
              今回のコラボについてお話をお伺いしました。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="p-itw-body">
      <div class="p-itw-body__inner">
        <nav class="c-breadcrumbs">
          <ol>
            <li>
              <a href="../"> TOP </a>
            </li>
            <li>
              <a href="../#special"> SPECIAL CONTENTS </a>
            </li>
            <li>
              <a href="javascript:void(0);"> コラボスタート インタビュー </a>
            </li>
          </ol>
        </nav>
        <div class="p-itw-article">
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-01.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="p-itw-article__q">
            NATURE TEA
            LABはこころやカラダを豊かにしたい方々に自分らしく暮らせるアイテムを提案するブランドになりますが、
            RIKACOさんにとって豊かなこころ・カラダとは？
          </p>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            いろいろあるとは思うんだけど、一番は自分で自分を愛することが大事かなって。そういう気持ちが持てると自然と人に対する思いやりとか、動物にも地球にもその愛を分けられる人になれる。ちょっと照れくさいかもしれないけど、まずは自分を愛することが豊かなこころとカラダを保つうえですごい大事なテーマだと思うんだよね。
          </p>
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-02.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            セルフケアっていうのも、結局は自分を愛することから始まるんだけど、体を動かすこともそうだし、ストレスをどれだけなくすかっていうことも大事だし。今回「お茶」っていうのはすごいテーマに合ってるなって思っていて。
            セルフケアの一つとしてこの商品を活用してくれればいいなっていうふうに思うな。
          </p>
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-03.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="p-itw-article__q q-2">
            自分を愛することによって最終的に周りの人たちも幸せにすることがブランドの目指すべきところですね。お茶を通じてどのようになっていってほしいですか？
          </p>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            お茶ってさ、薬と違うから、はい飲みました！次の日からすごい体調が良くなります！っていうものではないじゃない。
            だけどお茶を飲むことによってお守りみたいな安心感とか、気分転換とか、こころとカラダのケアに役立ってくれたらいいなって。それにはパッケージや内容含め、そばに置いてあってすごい好きだなって思える商品にしたいなって思う。
          </p>
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-04.jpg", "ティーライフ", false,path)%>
          </div>

          <p class="p-itw-article__q q-3">
            今回オールオーガニックにこだわっていきますが、RIKACOさん自身のオーガニックとの出会いは？
          </p>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            長年かけてそこは追及するようになってて。日本は100%オーガニックのものを取り入れた生活っていうのはまだまだ難しいけれども、私の場合は妊娠をきっかけに、自分だけの体じゃないっていうところから意識するようになったかな。オーガニックっていうと食べ物を考える人が多いかもしれないんだけど、そうじゃない。<br />
            オーガニックアドバイザーの勉強をしてる時も、オーガニックは地球に繋がっているってことを学んで。プラスティックをいっぱい食べた魚が北極まで流れていって、シロクマがそれを食べて亡くなってしまっているって状況を考えると、ほんとに全部が繋がってるなって思ったのね。
          </p>
          <div class="p-itw-article__img img-5">
            <%- imgTag("interview/itw-pic-05.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a a-5">
            だから小さなことでもいいから、ゴミの分別とか、自然にプラスティックを流さないようにしようとか、自分たちレベルでそんなに大きなことって変わらないかもしれないけど、言い続けて実践することが大事だなっていうふうに考えるようになった。みんながオーガニックのお茶を飲んだり買ったりすることによって、地球を守れてるもんねっていう意識にちょっとずつ変わってくれたら、それもすごい素敵なことだなって。
          </p>
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-06.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="p-itw-article__q q-4">
            商品を通じて、はじめは小さなことでも結果的に自分だけじゃなく、周りの家族や環境を幸せにできることが伝わるのは素敵ですね。
          </p>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            将来的にはさ、茶葉も肥料に変えられたり、パッケージに再生紙を使ったりいろんなことに配慮した商品になれたらいいね。最初から全部いっぺんには難しいけど、気持ちを持って開発するのはすごい素敵だなって思う。
            だからわたしもね！すごいワクワクしてるの。今回の出会いが自分の思いと繋がって、また新たな人たちにそれを伝えていけるっていうのは素敵な仕事だなって。
          </p>
          <div class="p-itw-article__img">
            <%- imgTag("interview/itw-pic-07.jpg", "ティーライフ", false,path)%>
          </div>
          <p class="p-itw-article__q q-5">
            私達も今すごいワクワクしています！強い想いを持ちながら素敵な商品を作りたいですね。
          </p>
          <p class="u-orange u-min">RIKACO</p>
          <p class="p-itw-article__a">
            最近仕事に対して思うのは、コロナ禍になってみんな戸惑ったし、仕事のあり方とか何を大事にするかとか、いろんなことを考えるきっかけになったじゃない。その中でわたしも本当にワクワクする仕事をしたいなって思うようになって。そういう意味ではこのコラボはすごい新しいスタート。とってもいいチームだと思うから素敵な商品にしたいな！
          </p>
          <div class="p-itw-article__img img-8">
            <%- imgTag("interview/itw-pic-08.jpg", "ティーライフ", false,path)%>
          </div>
					<div id="Movie">
            <div class="movie_wrap">
              <iframe src="https://www.youtube.com/embed/HbyGSbX9Yv8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="p-itw-article__sns">
            <span class="p-itw-article__sns__item">
              <%- imgTag("interview/share-nodes-solid.svg", "share", false,path)%>
              Share
            </span>
            <a class="p-itw-article__sns__item" href="https://twitter.com/share?url=https://www.tealife.co.jp/naturetealab&text=%0a" rel="nofollow noopener" target="_blank">
              <%- imgTag("interview/twitter.svg", "twitter", false,path)%>
            </a>
            <a class="p-itw-article__sns__item" href="http://www.facebook.com/share.php?u=https://www.tealife.co.jp/naturetealab" rel="nofollow noopener" target="_blank">
              <%- imgTag("interview/facebook-f.svg", "facebook", false,path)%>
            </a>
            <a class="p-itw-article__sns__item" href="http://line.me/R/msg/text/?https://www.tealife.co.jp/naturetealab%0a" target="_blank" rel="nofollow noopener">
              <%- imgTag("interview/line.svg", "line", false,path)%>
            </a>
          </div>
          <div class="p-itw-article__back__wrapper">
            <a class="p-itw-article__back" href="../">
              TOPへ戻る
              <span class="p-itw-article__arrow">&gt;&gt;</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- contents end -->

	<div class="footer">

	</div>

  <!-- page js files end -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="<%- path %>js/swiper.js"></script>
  <script src="<%- path %>js/lp.js"></script>
  <script src="<%- path %>js/anime.js"></script>
</body>

</html>