<!DOCTYPE html>
<html>
<%- include(`${ROOT}naturetealab/_include/_img`) %>

<head>
  <% var meta={ title: 'Refresh Blend GREEN TEA（グリーンティー）｜NATURE TEA LAB（ナチュレティーラボ）公式サイト' , description: 'RIKACO（リカコ）とTeaLife（ティーライフ）がコラボしたオーガニックティー「NATURE TEA LAB（ナチュレティーラボ）」のRefresh Blend GREEN TEA（グリーンティー）ページです。' , keywords: 'keywords' , og : { url: `/naturetealab`, iamge: 'https://www.tealife.co.jp/naturetealab/img/module/concept.jpg' } } -%>
  <% var path="../../" -%> <%- include(`${ROOT}naturetealab/_common/_head`, { meta: meta, path:path }) %>

  <!-- page css files start -->
  <link rel="stylesheet" type="text/css" href="<%- path %>/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="<%- path %>assets/css/style.css" />
  <!-- page css files end -->

  <!-- product.js area -->
<script>
$(function(){
// 対象の商品ページ番号
var itemNum = "11920";

$('#Btn1').attr('href', '/proposal_code/index.php?mode=cart&redirect_to_cart=1&ybt=&http%3A//www.tealife.co.jp/&turl=http%3A//www.tealife.co.jp/&proposal_cd[0]=' + itemNum + '&quantity[0]=1&regular_order[0]=0');
$('#Btn2').attr('href', '/proposal_code/index.php?mode=cart&redirect_to_cart=1&ybt=&http%3A//www.tealife.co.jp/&turl=http%3A//www.tealife.co.jp/&proposal_cd[0]=' + itemNum + '&quantity[0]=1&regular_order[0]=1');

  $('#Select1').change(function(){
    var count = $(this).val();
    $(document).ready(function(){
      $('#Btn1').attr('href', '/proposal_code/index.php?mode=cart&redirect_to_cart=1&ybt=&http%3A//www.tealife.co.jp/&turl=http%3A//www.tealife.co.jp/&proposal_cd[0]=' + itemNum + '&quantity[0]='+ count + '&regular_order[0]=0');
    });
  });

  $('#Select2').change(function(){
    var count = $(this).val();
    $(document).ready(function(){
      $('#Btn2').attr('href', '/proposal_code/index.php?mode=cart&redirect_to_cart=1&ybt=WTEA001&http%3A//www.tealife.co.jp/&turl=http%3A//www.tealife.co.jp/&proposal_cd[0]=' + itemNum + '&quantity[0]='+ count + '&regular_order[0]=1');
    });
  });
});
</script>
<script src="<%- path %>js/product.js"></script>
<!-- //product.js area -->
</head>

<body class="sub">

  <div class="header">
  </div>

  <!-- contents start -->
  <div id="mainContents" class="detail">
    <section class="p-page p-page__products">
      <h2 class="p-page__tittle">products</h2>
    </section>

    <section class="p-breadcrumb">
      <nav class="p-breadcrumb__inner">
        <ul class="p-breadcrumb__lists">
          <li class="p-breadcrumb__list"><a href="<%- path %>">TOP</a></li>
          <li class="p-breadcrumb__list"><a href="<%- path %>products/">PRODUCTS</a></li>
          <li class="p-breadcrumb__list"><a href="<%- path %>products/greentea/">Organic Refresh Blend GREEN TEA</a></li>
        </ul>
      </nav>
    </section>

    <section class="p-detail">
      <div class="p-detail__inner mx-pc-1200">
        <div class="p-detail__contents">

          <!-- swiper -->
          <div class="p-detail__swiper-content">
            <div class="swiper-container p-detail-slider">
              <div class="swiper-wrapper p-detail__wrapper">
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/products-01.jpg", "GREEN TEA", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-02-main.jpg", "ki", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-03-main.jpg", "yo", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-04-main.jpg", "dsc", false,path)%>
                </div>
              </div>
            </div>

            <!-- thumbnail -->
            <div class="swiper-container p-detail-thumbnail">
              <div class="swiper-wrapper">
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/products-01.jpg", "GREEN TEA", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-02.jpg", "ki", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-03.jpg", "yo", false,path)%>
                </div>
                <div class="swiper-slide p-detail__slide">
                  <%- imgTag("products/green-tea/green-tea-04.jpg", "dsc", false,path)%>
                </div>
              </div>
            </div>
          </div><!-- content -->

          <div class="p-detail__select-content">
            <div class="p-detail__wrap">
              <div class="p-detail__tittle-icon">
                <%- imgTag("module/ki.png", "ki", false,path)%>
              </div>
              <div class="p-detail__tittle-wrap">
                <h1>
                  <span class="p-detail__tittle u-green u-min">Refresh Blend GREEN TEA</span><br>
                  <span class="p-detail__disc u-min">リフレッシュ　ブレンド　グリーンティー</span>
                </h1>

                <ul class="p-detail__icons">
                  <li class="p-detail__icon"><%- imgTag("top/jas.png", "jas", false,path)%></li>
                  <li class="p-detail__icon"><%- imgTag("module/filter.png", "filter", false,path)%></li>
                </ul>
              </div>
            </div>
            <form action="" class="p-detail__form">
              <ul class="p-detail__plans">
                <li class="p-detail__plan">
                  <input type="radio" id="select_radio1" name="buy" value="buy_now" checked="checked">
                  <label for="select_radio1" class="u-min">今回のみお届け
                    <span class="p-detail__plan__price">通常価格：<span>3,500円</span>（税込）</span>
                    <span>申込番号：11920</span>
                  </label>
                </li>
                <li class="p-detail__plan">
                  <input type="radio" id="select_radio2" name="buy" value="regular">
                  <label for="select_radio2" class="u-min">お得な定期お届け
                    <span class="p-detail__plan__price">10%引き：<span>3,150円</span>（税込）</span>
                    <span class="p-detail__plan__caution">※ 定期お届けでございますので、ご連絡をいただくまでは自動的にお届けいたします。<br>
                      ※ 定期お届けはお届け回数にかかわらず、商品の変更・お休み・キャンセルを承っております。<br>
                      ※ 商品の変更・お休み・キャンセルの場合は、お届け予定日の10日前までにご連絡をお願いいたします。<br>
                      ＜申込番号：11920＞定期お届け2回目以降は、申込番号11920「Refresh Blend GREEN TEA」通常価格3,500円（税込）の10％引きの3,150円（税込）となります。</span>
                  </label>
                </li>
                <li>
                  <label for="Select1" class="u-min">数量</label>
                  <select name="select" id="Select1" class="p-detail__select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </li>
                <li style="padding-left:0;">
                  <a href="" id="Btn1" class="u-min p-detail__btn btn-more" target="_blank">買い物カゴに入れる</a>
                </li>
                <li style="padding-left:0;">
                  <div class="p-free">
                    <p class="p-free-box p-detail__btn">
                      4/30（必着）まで送料無料
                    </p>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div><!-- contents -->
      </div><!-- inner -->
    </section>


    <section class="p-detail-herb">
      <div class="p-detail-herb__wrapper mx-pc-1200">
        <h4 class="p-detail-herb__catch u-min u-green">緑茶×ハーブ<br><span>季節の変わり目にもカラダへ元気を補給</span></h4>
        <div class="p-detail-herb__inner">
          <div class="p-detail-herb__wrap">
            <p class="p-detail-herb__text">「家族の健康と美しい茶畑の景観を残す」をコンセプトに、緑茶とハーブをブレンドした斬新なお茶。</p>
            <p class="p-detail-herb__text">スッキリと爽やかなハーブが香り、気持ちを前向きに整えたり、季節や環境の変化に動じない健やかなからだづくりを応援します。</p>
            <p class="p-detail-herb__text">カテキン豊富な緑茶のハーブティーは、家族の健康も日々サポートするお守り的な存在です。</p>
            <p class="p-detail-herb__recommend p-green-herb__recommend">こんな方におすすめ</p>
            <ul class="p-detail-herb__checks">
              <li class="p-detail-herb__check">
                <span class="p-detail-herb__check-icon"> <%- imgTag("module/green-check.png", "check", false,path)%></span>
                <p class="u-min p-detail-herb__check-text">前向きになりたい</p>
              </li>
              <li class="p-detail-herb__check">
                <span class="p-detail-herb__check-icon"> <%- imgTag("module/green-check.png", "check", false,path)%></span>
                <p class="u-min p-detail-herb__check-text">リフレッシュしたい</p>
              </li>
              <li class="p-detail-herb__check">
                <span class="p-detail-herb__check-icon"> <%- imgTag("module/green-check.png", "check", false,path)%></span>
                <p class="u-min p-detail-herb__check-text">家族みんなで毎日元気に過ごしたい</p>
              </li>
            </ul>
          </div>
          <div class="p-detail-herb__img">
            <%- imgTag("products/green-tea/green-graf.png", "graf", false,path)%>
          </div>
        </div>

      </div>
    </section>

    <section class="p-detail-shine">
      <div class="p-detail-shine__inner u-green-back mx-pc-1200">
        <h4 class="p-detail__section-tittle u-min u-green">おすすめシーン</h4>
        <div class="p-detail-shine__content">
          <div class="p-detail-shine__wrap">
            <div class="p-detail-shine__img p-green-tea-shine__img">
              <%- imgTag("products/green-tea/shine01.jpg", "shine01", false,path)%>
            </div>
            <p class="u-min p-detail-shine__text">朝食に</p>
          </div>
          <div class="p-detail-shine__wrap">
            <div class="p-detail-shine__img">
              <%- imgTag("products/green-tea/shine02.jpg", "shine02", false,path)%>
            </div>
            <p class="u-min p-detail-shine__text">仕事の合間に</p>
          </div>
        </div>
      </div>
    </section>

    <section class="p-detail-blend mx-pc-1200">
      <h4 class="p-detail__section-tittle u-min u-green">ブレンド内容</h4>
      <div class="p-detail-blend__inner">
        <div class="p-detail-blend__content">
          <ul class="p-detail-blend__items">
            <li class="p-detail-blend__item">
              <div class="p-detail-blend__img">
                <%- imgTag("products/green-tea/green-tea-blend-01.png", "blend01", false,path)%>
              </div>
              <div class="p-detail-blend__wrap">
                <p class="p-detail-blend__tittle u-min">緑茶</p>
                <p class="p-detail-blend__text">静岡県掛川産の希少※な有機緑茶を使用。深蒸し茶に仕上げています。カテキンなどが含まれる「健康」の定番茶です。</p>
              </div>
            </li>
            <li class="p-detail-blend__item">
              <div class="p-detail-blend__img">
                <%- imgTag("products/green-tea/green-tea-blend-02.png", "blend02", false,path)%>
              </div>
              <div class="p-detail-blend__wrap">
                <p class="p-detail-blend__tittle u-min">ペパーミント</p>
                <p class="p-detail-blend__text">リフレッシュしたいときの定番ハーブ。古代から使用されており<br class="is-sp">「スー」っと爽やかな香りに定評があり、緑茶との相性もバッチリです。</p>
              </div>
            </li>
            <li class="p-detail-blend__item">
              <div class="p-detail-blend__img">
                <%- imgTag("products/green-tea/green-tea-blend-03.png", "blend03", false,path)%>
              </div>
              <div class="p-detail-blend__wrap">
                <p class="p-detail-blend__tittle u-min">オレンジピール</p>
                <p class="p-detail-blend__text">オレンジの果皮。柑橘系の良い風味を演出しています。</p>
              </div>
            </li>
            <li class="p-detail-blend__item">
              <div class="p-detail-blend__img">
                <%- imgTag("products/green-tea/green-tea-blend-04.png", "blend04", false,path)%>
              </div>
              <div class="p-detail-blend__wrap">
                <p class="p-detail-blend__tittle u-min">エキナセア</p>
                <p class="p-detail-blend__text">健康意識の高い方に人気のハーブ。家族の健康を考えたら絶対に摂り入れたいというRIKACOさん一押しハーブです。</p>
              </div>
            </li>
            <li class="p-detail-blend__item">
              <div class="p-detail-blend__img">
                <%- imgTag("products/green-tea/green-tea-blend-05.png", "blend05", false,path)%>
              </div>
              <div class="p-detail-blend__wrap">
                <p class="p-detail-blend__tittle u-min">ローズマリー</p>
                <p class="p-detail-blend__text">ヨーロッパでは臭みのある料理によく使われてきたハーブ。小さく細長い葉に、甘く爽やかな芳香があるのが特徴です。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="p-detail-sdgs">
      <div class="p-detail-sdgs__container mx-pc-1200">
        <h4 class="p-detail__section-tittle u-min u-green">緑茶文化・景観を<br class="is-sp">後世に残すためのSDGs<br>「緑茶の新しいカタチ」</h4>
        <div class="p-detail-sdgs__inner">
          <p class="p-detail-sdgs__text">
            近年お茶畑も担い手不足から耕作放棄地が増加しています。その問題を何とかしようと、耕作放棄地を活用し有機栽培をスタートした農家もありましたが、販路がなく苦戦していました。<br>耕作放棄された畑は、3年以上経っていれば「有機栽培茶」へ移行させやすいことが分かっており、販路さえ広がれば、耕作放棄地を再び美しい茶畑に生まれ変わらせることができます。NATURE TEA LABの商品を通じ、有機緑茶を増やす・広めることで、静岡県に代々伝わってきた茶畑が広がる美しい風景を維持していきたいと考えています。
          </p>
          <div class="p-detail-sdgs__content">
            <div class="p-detail-sdgs__wrap">
              <div class="p-detail-sdgs__img">
                <%- imgTag("products/green-tea/green-tea-sdgs-01.jpg", "sdgs01", false,path)%>
              </div>
              <p class="p-detail-sdgs__tittle">耕作放棄地</p>
            </div>
            <div class="p-detail-sdgs__wrap">
              <div class="p-detail-sdgs__img">
                <%- imgTag("products/green-tea/green-tea-sdgs-02.jpg", "sdgs02", false,path)%>
              </div>
              <p class="p-detail-sdgs__tittle">有機栽培茶で美しい茶畑に</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-detail-how-to">
      <div class="p-detail-how-to__inner p-green-tea-how-to__inner mx-pc-1200">
        <h4 class="p-detail-how-to__tittle p-green-tea-how-to__tittle u-min u-green">おいしいお召し上がり方</h4>
        <ul class="p-detail-how-to__items">
          <li class="p-detail-how-to__item">
            <div class="p-detail-how-to__img">
              <%- imgTag("products/green-tea/how-to-icon01.jpg", "おいしいお召し上がり方", false,path)%>
            </div>
            <span class="p-detail-how-to__number u-green-back2 u-min">1</span>
            <p class="p-detail-how-to__text">カップにお湯を入れ温めておきます。</p>
          </li>
          <li class="p-detail-how-to__item">
            <div class="p-detail-how-to__img">
              <%- imgTag("products/green-tea/how-to-icon02.jpg", "おいしいお召し上がり方", false,path)%>
            </div>
            <span class="p-detail-how-to__number u-green-back2 u-min">2</span>
            <p class="p-detail-how-to__text">温めたカップにティーバッグ1個を入れ、<br>沸騰したお湯（150ml～200ml）を注ぎます。</p>
          </li>
          <li class="p-detail-how-to__item">
            <div class="p-detail-how-to__img">
              <span class="p-detail-how-to__img__fukidashi u-green">2分</span>
              <%- imgTag("products/green-tea/how-to-icon03.jpg", "おいしいお召し上がり方", false,path)%>
            </div>
            <span class="p-detail-how-to__number u-green-back2 u-min">3</span>
            <p class="p-detail-how-to__text">蓋をして2分程蒸らしたら、ティーバッグを<br>取り出しお召し上がりください。</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="p-detail-spec">
      <div class="p-detail-spec__container mx-pc-1200">
        <div class="p-detail-spec__inner">
          <div class="p-detail-spec__content">
            <p class="p-detail-spec__tittle u-min u-green">SPEC</p>
            <div>
              <div style="display: flex;">
                <p class="p-detail-spec__text p-detail-spec__text1">内容量<br>原材料（原産国）<br><br class="is-sp"><br class="is-sp"><br class="is-sp">消費期限<br>製造加工地</p>
                <p class="p-detail-spec__text p-detail-spec__text2">2ｇ×20個入（150～200ml用）<br>有機緑茶（静岡県産）、有機ペパーミント、有機オレンジピール、有機エキナセア、有機ローズマリー<br>12ヵ月<br>日本</p>
              </div>
              <p class="p-detail-spec__text p-detail-spec__text3">※妊娠中、授乳中の方は医師へのご相談をおすすめしております。</p>
            </div>
          </div>
          <div class="p-detail-spec__btn">
            <button type="submit" class="u-min p-detail__btn btn-more">買い物カゴに入れる</button>
          </div>
        </div>
      </div>
    </section>

    <section class="p-detail-line">
      <div class="p-detail-line__container mx-pc-1200">
        <div class="p-detail-line__inner">
          <h4 class="p-detail__line-tittle u-min u-green">ラインナップ</h4>
          <div class="p-detail-line__content">
            <ul class="p-detail-line__items">
              <li class="p-detail-line__item">
                <a href="<%- path %>products/greentea/">
                  <div class="p-detail-line__image">
                    <%- imgTag("products/products-01.jpg", "GREEN TEA", false,path)%>
                  </div>
                  <div class="p-detail-line__wrap">
                    <h4 class="p-detail-line__tittle u-green u-min">Refresh Blend GREEN TEA</h4>
                  </div>
                </a>
              </li>
              <li class="p-detail-line__item">
                <a href="<%- path %>products/rooibostea/">
                  <div class="p-detail-line__image">
                    <%- imgTag("products/products-02.jpg", "ROOIBOS", false,path)%>
                  </div>
                  <div class="p-detail-line__wrap">
                    <h4 class="p-detail-line__tittle u-red u-min">Beauty Blend ROOIBOS</h4>
                  </div>
                </a>
              </li>
              <li class="p-detail-line__item">
                <a href="<%- path %>products/dandeliontea/">
                  <div class="p-detail-line__image">
                    <%- imgTag("products/products-03.jpg", "DANDELION", false,path)%>
                  </div>
                  <div class="p-detail-line__wrap">
                    <h4 class="p-detail-line__tittle u-yellow u-min">Active Blend DANDELION</h4>
                  </div>
                </a>
              </li>
              <li class="p-detail-line__item">
                <a href="<%- path %>products/tea-set/">
                  <div class="p-detail-line__image">
                    <%- imgTag("products/products-04.jpg", "NATURE TEA LAB", false,path)%>
                  </div>
                  <div class="p-detail-line__wrap">
                    <h4 class="p-detail-line__tittle u-min">NATURE TEA LAB<br>3種セット</h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- contents end -->
  <div class="footer">
  </div>

  <!-- page js files end -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="<%- path %>js/lp.js"></script>
  <script src="<%- path %>js/anime.js"></script>
  <script src="<%- path %>js/swiper.js"></script>
  <script src="<%- path %>js/script.js"></script>
</body>

</html>