<%- include(`${ROOT}naturetealab/_include/_img`) %>
<% var path = "/tealife/" %>
<footer>
  <div class="l-footer l-footer--large">
    <div class="l-footer__inner">
      <div class="l-footer__wrap">
        <div class="l-footer__logo">
          <a href="">
            <%- imgTag("module/logo2.png", "NATURE TEA LAB", false, path)%>
          </a>
        </div>
        <div class="l-footer__sns">
          <a href="https://www.instagram.com/nature_tea_lab" target="_blank" class="l-footer__sns__icon">
            <%- imgTag("module/Instagram-gray.png", "Instagram", false, path)%>
          </a>
          <a href="https://lin.ee/LXBb8l8" target="_blank" class="l-footer__sns__icon">
            <%- imgTag("module/line-gray.png", "LINE", false, path)%>
          </a>
        </div>
        <p class="l-footer__copyright">Copyright © TeaLife All rights Reserved.</p>
      </div>
      <div class="l-footer__lists__content">
        <h3 class="l-footer__tittle">CONTENTS</h3>
        <div class="l-footer__lists__wrap l-footer__first">
          <ul class="l-footer__lists">
            <li class="l-footer__list">
              <a href="<%- path %>"><span>TOP</span></a>
            </li>
            <li class="l-footer__list">
              <a href="https://www.tealifeir.com/">会社概要</a>
            </li>
            <li class="l-footer__list">
              <a href="https://www.tealife.co.jp/contact">お問い合わせ</a>
            </li>
          </ul>
        </div>
        <div class="l-footer__lists__wrap">
          <ul class="l-footer__lists">
            <li class="l-footer__list">
              <a href="<%- path %>about"><span>ABOUT</span></a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>about/#concept">コンセプト</a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>about/#philosophy">フィロソフィー</a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>about/#brand">ロゴに込められた想い</a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>about/#organic">オーガニックについて</a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>about/#sensibility">RIKACO＆TLプロフィール</a>
            </li>
          </ul>
        </div>
        <div class="l-footer__lists__wrap">
          <ul class="l-footer__lists">
            <li class="l-footer__list">
              <a href="<%- path %>products"><span>PRODUCTS</span></a>
            </li>
            <li class="l-footer__list l-footer__list__sm">
              <a href="<%- path %>products/greentea/">Refresh Blend<br class="is-pc"> GREEN TEA</a>
            </li>
            <li class="l-footer__list l-footer__list__sm">
              <a href="<%- path %>products/rooibostea/">Beauty Blend<br class="is-pc"> ROOIBOS</a>
            </li>
            <li class="l-footer__list l-footer__list__sm">
              <a href="<%- path %>products/dandeliontea/">Active Blend<br class="is-pc"> DANDELION</a>
            </li>
            <li class="l-footer__list l-footer__list__sm">
              <a href="<%- path %>products/tea-set/">NATURE TEA LAB 3種セット</a>
            </li>
          </ul>
        </div>
        <div class="l-footer__lists__wrap">
          <ul class="l-footer__lists">
            <li class="l-footer__list">
              <a href="<%- path %>contents/"><span>SPECIAL CONTENTS</span></a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>contents/interview01.html">コラボスタート インタビュー</a>
            </li>
            <li class="l-footer__list">
              <a href="<%- path %>contents/story01.html">商品試作、試飲会</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>